.block {
    width: 335px;
    height: 446px;
    gap: 0px;
    opacity: 0px;
}
.text {
    width: 295px;
    height: 278px;
    top: 40px;
    left: 20px;
    gap: 28px;
    opacity: 0px;

}
.about-us {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}