<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/fenix-7x-pro/desktop-tablet-catalog-fenix-7x-pro.png    1x,
                ./img/catalog/fenix-7x-pro/desktop-tablet-catalog-fenix-7x-pro@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-7x-pro/mobile-catalog-fenix-7x-pro.png    1x,
                ./img/catalog/fenix-7x-pro/mobile-catalog-fenix-7x-pro@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/fenix-7x-pro/mobile-catalog-fenix-7x-pro.png"
              alt="Fenix 7X Pro"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-list-text">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/marq/desktop-tablet-catalog-marq.png    1x,
                ./img/catalog/marq/desktop-tablet-catalog-marq@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/marq/mobile-catalog-marq.png    1x,
                ./img/catalog/marq/mobile-catalog-marq@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/catalog/marq/mobile-catalog-marq.png" alt="Marq" />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Marq Athlete</h3>
          <p class="catalog-list-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/descent/desktop-tablet-catalog-descent.png    1x,
                ./img/catalog/descent/desktop-tablet-catalog-descent@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/descent/mobile-catalog-descent.png    1x,
                ./img/catalog/descent/mobile-catalog-descent@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/descent/mobile-catalog-descent.png"
              alt="Descent"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Descent MK1</h3>
          <p class="catalog-list-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/d2-delta/desktop-tablet-catalog-d2-delta.png    1x,
                ./img/catalog/d2-delta/desktop-tablet-catalog-d2-delta@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/d2-delta/mobile-catalog-d2-delta.png    1x,
                ./img/catalog/d2-delta/mobile-catalog-d2-delta@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/d2-delta/mobile-catalog-d2-delta.png"
              alt="D2 Delta PX"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin D2 Delta PX</h3>
          <p class="catalog-list-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/6-pro-solar/desktop-tablet-catalog-6-pro-solar.png    1x,
                ./img/catalog/6-pro-solar/desktop-tablet-catalog-6-pro-solar@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/6-pro-solar/mobile-catalog-6-pro-solar.png    1x,
                ./img/catalog/6-pro-solar/mobile-catalog-6-pro-solar@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/6-pro-solar/mobile-catalog-6-pro-solar.png"
              alt="Fenix 6 Pro Solar"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-list-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture>
            <source
              srcset="
                ./img/catalog/s42-date-steel/desktop-tablet-catalog-s42-date-steel.png    1x,
                ./img/catalog/s42-date-steel/desktop-tablet-catalog-s42-date-steel@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/s42-date-steel/mobile-catalog-s42-date-steel.png    1x,
                ./img/catalog/s42-date-steel/mobile-catalog-s42-date-steel@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/s42-date-steel/mobile-catalog-s42-date-steel.png"
              alt="S42 Date Steel"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-list-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="main-btn" type="button" id="showMoreBtn">Show more</button>
  </div>
</section>
