<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture class="catalog-list-img">
            <source
              srcset="
                ./img/catalog/fenix-7x-pro/desktop-catalog-fenix-7x-pro.png    1x,
                ./img/catalog/fenix-7x-pro/desktop-catalog-fenix-7x-pro@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-7x-pro/tablet-catalog-fenix-7x-pro.png    1x,
                ./img/catalog/fenix-7x-pro/tablet-catalog-fenix-7x-pro@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-7x-pro/mobile-catalog-fenix-7x-pro.png    1x,
                ./img/catalog/fenix-7x-pro/mobile-catalog-fenix-7x-pro@2x.png 2x
              "
              media="(max-width: 375px)"
            />
            <img
              src="./img//catalog/fenix-7x-pro/desktop-catalog-fenix-7x-pro.png"
              alt="Fenix 7X Pro"
            />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-list-text">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-picture-wrapp">
          <picture class="catalog-list-img">
            <source
              srcset="
                ./img/catalog/marq/desktop-catalog-marq.png    1x,
                ./img/catalog/marq/desktop-catalog-marq@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/marq/tablet-catalog-marq.png    1x,
                ./img/catalog/marq/tablet-catalog-marq@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/marq/mobile-catalog-marq.png    1x,
                ./img/catalog/marq/mobile-catalog-marq@2x.png 2x
              "
              media="(max-width: 375px)"
            />
            <img src="./img/catalog/marq/desktop-catalog-marq.png" alt="Marq" />
          </picture>
        </div>
        <div class="catalog-list-title-wrapp">
          <h3 class="catalog-list-title">Garmin Marq Athlete</h3>
          <p class="catalog-list-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-title-wrapp">
          <picture class="catalog-list-img">
            <source
              srcset="
                ./img/catalog/descent/desktop-catalog-descent.png    1x,
                ./img/catalog/descent/desktop-catalog-descent@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/descent/tablet-catalog-descent.png    1x,
                ./img/catalog/descent/tablet-catalog-descent@2x.png 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
        </div>
        <div>
          <h3 class="catalog-list-title">Garmin Descent MK1</h3>
          <p class="catalog-list-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-title-wrapp">
          <picture class="catalog-list-img">
            <source />
          </picture>
        </div>
        <div>
          <h3 class="catalog-list-title">Garmin D2 Delta PX</h3>
          <p class="catalog-list-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-title-wrapp">
          <picture class="catalog-list-img">
            <source />
          </picture>
        </div>
        <div>
          <h3 class="catalog-list-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-list-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-list-title-wrapp">
          <picture class="catalog-list-img">
            <source />
          </picture>
        </div>
        <div>
          <h3 class="catalog-list-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-list-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="main-btn" type="button">Show more</button>
  </div>
</section>
