<section class="contact" id="contact us">
  <h2 class="titles-contact">Contact Us</h2>
  <div class="body-box">
    <div class="input-box">
      <p class="text-contact">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form class="contact-form">
        <input
          class="contact-form-input"
          type="text"
          id="user-name"
          name="user-name"
          placeholder="Name"
          required
        />
        <input
          class="contact-form-input"
          type="email"
          id="user-email"
          name="user-email"
          placeholder="Email"
          required
        />
        <input
          class="contact-form-input"
          type="tel"
          id="user-phone"
          name="user-phone"
          placeholder="+380"
          required
        />
        <textarea
          class="textarea-box"
          name="user-comment"
          id="user-comment"
          placeholder="Comment"
        ></textarea>
      </form>
      <button class="btn-contact" type="submit">Send</button>
    </div>
    <div class="img-box">
      <picture>
        <source
          srcset="
            ../img/contact-us/desktop-contact-us-img.jpg    1x,
            ../img/contact-us/desktop-contact-us-img@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/contact-us/tablet-contact-us-img.jpg    1x,
            ../img/contact-us/tablet-contact-us-img@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/contact-us/mobile-contact-us-img.jpg    1x,
            ../img/contact-us/mobile-contact-us-img@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="../img/contact-us/mobile-contact-us-img.jpg"
          alt="foto clock"
        />
      </picture>
    </div>
  </div>
</section>
