<section class="hero" id="hero">
  <div class="container hero-section-container">
    <div class="hero-title-and-scroll-down">
      <div class="hero-title-and-description">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-description">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-scroll-down-container">
        <picture>
          <source
            srcset="
              ./img/hero/desktop-people.png    1x,
              ./img/hero/desktop-people@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero/tablet-people.png    1x,
              ./img/hero/tablet-people@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero/mobile-people.png    1x,
              ./img/hero/mobile-people@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./img/hero/mobile-people.png" alt="Three persons" />
        </picture>
        <a class="hero-scroll-down-link" href="#footer">Scroll down</a>
      </div>
    </div>
    <div class="hero-image-container">
      <picture>
        <source
          srcset="
            ./img/hero/desktop-hero-img.jpg    1x,
            ./img/hero/desktop-hero-img@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero/tablet-hero-img.jpg    1x,
            ./img/hero/tablet-hero-img@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/hero/mobile-hero-img.jpg    1x,
            ./img/hero/mobile-hero-img@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./img/hero/mobile-hero-img.jpg" alt="Black watch" />
      </picture>
    </div>
  </div>
</section>
