<section class="sale-section">
  <div class="container">
    <h2 class="sale">Sale</h2>
    <div class="sale-section-photo">
      <ul class="sale-section-list">
        <li class="sale-section-item"><img src="" alt="" /></li>
        <li class="sale-section-item"><img src="" alt="" /></li>
        <li class="sale-section-item"><img src="" alt="" /></li>
        <li class="sale-section-item"><img src="" alt="" /></li>
      </ul>
      <img class="sale-main-photo" src="" alt="" />
    </div>
    <div class="sale-description-product">
      <h3 class="sale-product-name">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-product-tag">Product tag: 706587</p>
    </div>
    <div class="sale-price-field">
      <p class="sale-price">€1500</p>
      <p class="sale-previous-price">€3000</p>
    </div>
    <p class="sale-text-information">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <div class="sale-features">
        <ul class="sale-features-list">
            <li class="sale-features-items">Fused carbon fiber</li>
            <li class="sale-features-items">Grade-5 Titanuim</li>
            <li class="sale-features-items">Athlete</li>
            <li class="sale-features-items">Golfer</li>
            <li class="sale-features-items">Commander</li>
            <li class="sale-features-items">Adventurer</li>
        </ul>
    </div>
  </div>
</section>