<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content-box">
      <div class="sale-section-photo">
        <ul class="sale-section-list">
          <li class="sale-section-item">
            <div class="sale-section-item-wrap">
              <picture
                ><source
                  srcset="
                    ./img/sale/desktop-tablet-sale-marq-img-small-1.png    1x,
                    ./img/sale/desktop-tablet-sale-marq-img-small-1@2x.png 2x
                  "
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/sale/mobile-sale-marq-img-small-1.png    1x,
                    ./img/sale/mobile-sale-marq-img-small-1@2x.png 2x
                  "
                  media="(max-width: 767px)" />
                <img
                  src="./img/sale/mobile-sale-marq-img-small-1.png"
                  alt="clock"
              /></picture>
            </div>
          </li>
          <li class="sale-section-item">
            <div class="sale-section-item-wrap">
              <picture
                ><source
                  srcset="
                    ./img/sale/desktop-tablet-sale-marq-img-small-2.png    1x,
                    ./img/sale/desktop-tablet-sale-marq-img-small-2@2x.png 2x
                  "
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/sale/mobile-sale-marq-img-small-2.png    1x,
                    ./img/sale/mobile-sale-marq-img-small-2@2x.png 2x
                  "
                  media="(max-width: 767px)" />
                <img
                  src="./img/sale/mobile-sale-marq-img-small-2.png"
                  alt="clock"
              /></picture>
            </div>
          </li>
          <li class="sale-section-item">
            <div class="sale-section-item-wrap">
              <picture
                ><source
                  srcset="
                    ./img/sale/desktop-tablet-sale-marq-img-small-3.png    1x,
                    ./img/sale/desktop-tablet-sale-marq-img-small-3@2x.png 2x
                  "
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/sale/mobile-sale-marq-img-small-3.png    1x,
                    ./img/sale/mobile-sale-marq-img-small-3@2x.png 2x
                  "
                  media="(max-width: 767px)" />
                <img
                  src="./img/sale/mobile-sale-marq-img-small-3.png"
                  alt="clock"
              /></picture>
            </div>
          </li>
          <li class="sale-section-item">
            <div class="sale-section-item-wrap">
              <picture
                ><source
                  srcset="
                    ./img/sale/desktop-tablet-sale-marq-img-small-4.png    1x,
                    ./img/sale/desktop-tablet-sale-marq-img-small-4@2x.png 2x
                  "
                  media="(min-width: 768px)" />
                <source
                  srcset="
                    ./img/sale/mobile-sale-marq-img-small-4.png    1x,
                    ./img/sale/mobile-sale-marq-img-small-4@2x.png 2x
                  "
                  media="(max-width: 767px)" />
                <img
                  src="./img/sale/mobile-sale-marq-img-small-4.png"
                  alt="clock"
              /></picture>
            </div>
          </li>
        </ul>
        <div class="main-photo-wrap">
          <picture>
            <source
              srcset="
                ./img/sale/desktop-tablet-sale-marq-img-main.png    1x,
                ./img/sale/desktop-tablet-sale-marq-img-main@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale/mobile-sale-marq-img-main.png    1x,
                ./img/sale/mobile-sale-marq-img-main@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sale-main-photo"
              src="./img/sale/mobile-sale-marq-img-main.png"
              alt="clock"
            />
          </picture>
        </div>
      </div>
      <div class="sale-description-product-box">
        <h3 class="sale-product-name">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <div class="sale-price-field">
          <div class="sale-price-wrap">
            <p class="sale-price">€1500</p>
          </div>
          <p class="sale-previous-price">€3000</p>
        </div>
        <p class="sale-text-information">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-features-list">
          <li>
            <button class="sale-features-item-btn" type="button">
              Fused carbon fiber
            </button>
          </li>
          <li>
            <button class="sale-features-item-btn" type="button">
              Grade-5 Titanuim
            </button>
          </li>
          <li>
            <button class="sale-features-item-btn" type="button">
              Athlete
            </button>
          </li>
          <li>
            <button class="sale-features-item-btn" type="button">Golfer</button>
          </li>
          <li>
            <button class="sale-features-item-btn" type="button">
              Commander
            </button>
          </li>
          <li>
            <button class="sale-features-item-btn" type="button">
              Adventurer
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
