.hero-section-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.hero-title-and-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.hero-title-span {
  color: #3350e9;
}
.hero-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}
.hero-scroll-down-container {
  display: flex;
  justify-content: space-between;
}
.hero-scroll-down-link {
  color: #0c0c0c;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  align-self: flex-end;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-scroll-down-link:hover,
.hero-scroll-down-link:focus-visible,
.hero-scroll-down-link:active {
  color: #3350e9;
}
.hero-image-container {
  overflow: hidden;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .hero-section-container {
    gap: 40px;
  }
  .hero-title-and-scroll-down {
    display: flex;
    gap: 11px;
  }
  .hero-title-and-description {
    max-width: 557px;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }
  .hero-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
    margin-bottom: 0;
  }
  .hero-scroll-down-container {
    flex-direction: column;
  }
  .hero-scroll-down-link {
    font-size: 20px;
    line-height: 1;
    outline: transparent;
  }
  .hero-image-container {
    border-radius: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title-and-scroll-down {
    justify-content: space-between;
  }
  .hero-title-and-description {
    max-width: 597px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.87;
  }
}
