@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
