/* Review mobile version */

.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.reviews-list-item {
  display: none;
}

.reviews-list-item:nth-child(-n + 1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list-item {
  border-radius: 30px;
  padding: 32px 36px;
  background-color: #f3f3f3;
}

.client-review-photo {
  margin-bottom: 24px;
}

.client-review-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.client-review-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

/* Review tablet version */

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .reviews-list-item:nth-child(-n + 2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-basis: calc((100% - 16px) / 2);
    margin: 0 auto;
  }
}
/* Review desktop version */

@media screen and (min-width: 1280px) {
  .reviews-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-basis: calc((100% - 20px) / 3);
    margin: 0 auto;
  }
}
