.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

/* ___Tablet adaptation___ */
@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }
}

/* photo styles */

.sale-section-item-wrap {
  margin: 13px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-main-photo {
  max-width: 235px;
  height: auto;
}

.sale-section-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background: #f3f3f3;
}

.sale-section-list {
  display: flex;
  margin-bottom: 20px;
  gap: 5px;
}

.main-photo-wrap {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-main-photo {
  margin: 50px;
}

/* ___Tablet adaptation___ */
@media screen and (min-width: 768px) {
  .sale-section-item-wrap {
    margin: 16px 18px;
  }

  .main-photo-wrap {
    margin-left: 20px;
    width: 100%;
  }

  .sale-main-photo {
    margin: 80px 112px;
  }

  .sale-section-list {
    flex-direction: column;
    gap: 10px;
  }

  .sale-section-photo {
    display: flex;
    max-width: 704px;
  }
}

/* /photo styles */

/* product description */

.sale-description-product-box {
  padding: 48px 28px;
}

.sale-description-product-box {
  background-color: #3350e9;
  border-radius: 30px;
}

.sale-description-product {
  margin-bottom: 20px;
}

.sale-product-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.sale-price-field {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.sale-price-wrap {
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background: rgba(251, 251, 251, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-previous-price {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-text-information {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-features-list {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}

.sale-features-items {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
}

/* ___Tablet adaptation___ */
@media screen and (min-width: 768px) {
  .sale-description-product-box {
    padding: 60px;
  }

  .sale-product-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.125;
  }

  .sale-text-information {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  .sale-description-product {
    max-width: 436px;
  }

  .sale-features-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
  }

  .sale-features {
    max-width: 398px;
  }
}

/* ___Desktop adaptation___ */

@media screen and (min-width: 1280px) {
  .sale-content-box {
    display: flex;
  }

  .main-photo-wrap {
    max-width: 428px;
  }

  .sale-description-product-box {
    max-width: 530px;
    max-height: 558px;
    margin-left: 40px;
  }

  .sale-product-name {
    max-width: 389px;
  }

}

/* /product description */
